.p-about {

  .department-list {
    padding-bottom: 0px;
  }
  .o-hero__top {
    padding-top: 50px;
  }

  @include breakpoints ("tablet"){
    .department-list {
      padding-bottom: 100px;
    }
    .o-hero__top {
      padding-top: 100px;
    }
    .o-hero__titles {
      margin-left: 30px;
      margin-right: 0px;
    }
    .img-on-right {
      display: flex;
      flex-direction: row-reverse;

      .o-hero__titles {
        margin-right: 30px;
        margin-left: 0px;
      }
    }
    .dept-description {
      margin-right: 0px !important;
    }
  }

  .o-hero__left, .o-hero__side-one {
    align-items: center;
    display: flex;
  }

  #greeting {
    color: get-color("primary", "fresh");
    margin-bottom: 40px;
    @include font-size("medium-large");
    @include line-height(46px);

    @include breakpoints("tablet") {
        @include font-size("larger");
        @include line-height("larger");
    }
  }

  .no-dot {
    padding-left: 0;

    li {
      font-weight: 500;
      list-style-type: none;
    }
  }

  .p-about__illustration {
    display: flex;
    justify-content: center;

    img {
      align-self: center;
      max-width: 75%;
      @include breakpoints("tablet") {
        max-width: 100%;
      }
    }
  }
}
