.p-careers {
    &__collage {
        position: relative;
        margin-top: 32px;

        img:first-child {
            position: absolute;
            left: -351px;
            top: 52px;
        }
    }

    &__values {
        @include span-col(12);
        padding: 89px 0 80px 0;

        @include breakpoints("sm-tablet") {
            @include span-col(10);
        }

        @include breakpoints("tablet") {
            @include span-col(7);
        }

        h3 {
            @include font-size(40px);
            margin-bottom: 28px;
            color: get-color-primary("after-hours");
        }
    }

    &__heading {
        @include font-size(20px);
        margin-bottom: 16px;
        color: get-color-primary("fresh-dark");
        font-family: $font-secondary;
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__full-bleed {
        margin: 10px 0 77px;
        position: relative;

        img {
            width: 100%;
        }
    }

    &__perks {
        h3 {
            @include font-size(36px);
            @include span-col(12);
        }
    }

    &__positions {
        position: relative;

        h3 {
            @include font-size(36px);
            @include span-col(12);
            margin-bottom: 30px;
        }

        &__join {
            p {
                @include span-col(12);
                margin-block-start: 0;

                @include breakpoints("tablet") {
                    @include span-col(6);
                }

                a {
                    @include font-size("small");
                    color: get-color-primary("after-hours");
                    font-family: $font-primary;
                    text-decoration: underline;
                    text-decoration-color: get-color-primary("fresh");
                    transition: color 0.3s ease;

                    &:hover {
                        color: get-color-primary("fresh");
                        opacity: 1;
                    }
                }
            }
        }

        &__text {
            margin-bottom: 50px;

            p {
                @include span-col(12);
                margin-block-start: 0;

                @include breakpoints("tablet") {
                    @include span-col(6);
                }

                a {
                    @include font-size("small");
                    color: get-color-primary("after-hours");
                    font-family: $font-primary;
                    text-decoration: underline;
                    text-decoration-color: get-color-primary("fresh");
                    transition: color 0.3s ease;

                    &:hover {
                        color: get-color-primary("fresh");
                        opacity: 1;
                    }
                }
            }
        }

        > img {
            height: 325px;
            position: absolute;
            right: 175px;
            top: -125px;
            z-index: -1;
        }
    }

    &__amazing {
        p {
            @include span-col(12);
            @include font-size(30px);
            @include line-height(40px);
            margin-block-start: 0;

            @include breakpoints("sm-tablet") {
                @include font-size(40px);
                @include line-height(60px);
            }

            @include breakpoints("tablet") {
                @include font-size(60px);
                @include line-height(80px);
            }
        }
    }

    &__content {
        padding-bottom: 75px;

        &__details,
        &__link {
            @include span-col(12);

            @include breakpoints("tablet") {
                @include span-col(10);
            }
        }

        &__details {
            h2 {
                @include font-size(26px);
                @include line-height(36px);
                margin-top: 60px;
                color: get-color-primary("fresh-dark");

                @include breakpoints("sm-tablet") {
                    @include font-size(30px);
                    @include line-height(40px);
                }

                @include breakpoints("tablet") {
                    @include font-size(40px);
                    @include line-height(50px);
                    margin-top: 100px;
                }
            }

            p {
                @include font-size("small");
                @include line-height(32px);

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                    @include line-height(39px);
                }

                + p {
                    margin-top: 39px;
                }

                a {
                    @include font-size("small");
                    color: get-color-primary("after-hours");
                    font-family: $font-primary;
                    text-decoration: underline;
                    text-decoration-color: get-color-primary("fresh");
                    transition: color 0.3s ease;

                    @include breakpoints("sm-tablet") {
                        @include font-size(24px);
                    }

                    &:hover {
                        color: get-color-primary("fresh");
                        opacity: 1;
                    }
                }

                .gatsby-resp-image-wrapper {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }

            ul,
            ol {
                margin-left: 20px;

                li {
                    @include font-size("small");
                    @include line-height(32px);
                    margin-bottom: 20px;

                    @include breakpoints("sm-tablet") {
                        @include font-size(24px);
                        @include line-height(39px);
                    }
                }

                a {
                    @include font-size("small");
                    color: get-color-primary("after-hours");
                    font-family: $font-primary;
                    text-decoration: underline;
                    text-decoration-color: get-color-primary("fresh");
                    transition: color 0.3s ease;

                    @include breakpoints("sm-tablet") {
                        @include font-size(24px);
                    }

                    &:hover {
                        color: get-color-primary("fresh");
                        opacity: 1;
                    }
                }
            }
        }

        &__link {
            margin-top: 25px;

            a {
                @include font-size("base");
                border-bottom: 1px solid get-color-primary("fresh");
                padding-bottom: 0.2em;
                color: get-color-primary("after-hours");
                font-family: $font-secondary;
                font-weight: 600;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                transition: color 0.3s ease;

                &:hover {
                    opacity: 1;
                    color: get-color-primary("fresh");
                }
            }
        }
    }

    .o-hero {
        &__right {
            display: none;

            @include breakpoints("tablet") {
                display: block;
            }
        }
    }
}