.p-contact-page {
    .o-hero__top {
        // @include span-col(12);

        // @include breakpoints("tablet") {
        //     @include span-col(6);
        // }
        margin-bottom: 115px;
    }

    .o-hero__subtitles {
        // @include span-col(12);
        font-family: $font-secondary;
        letter-spacing: 0px;
        padding-left: 0;

        margin-left: 675px;
        // @include breakpoints("tablet") {
        //     @include span-col(6);
        // }

        h3 {
            line-height: 50px;
        }
    }

    .o-contact-form__container {
        margin-bottom: 600px;
    }

    .-slider {
        position: relative;

        &:after {
            content: '';
            background: get-color("primary", "after-hours");
            height: 50%;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: block;
            z-index: -1;
        }

        .slick-dots {
            text-align: right;
        }

        .slick-list {
            // padding:0 20% 0 0;
        }

        .slick-next {
            top: auto;
            bottom: -65px;
            left: 36px;
        }

        .slick-prev {
            top: auto;
            bottom: -65px;
            left: 0;
        }
    }
}