.p-contact-page {
    .o-hero__top {
        margin-bottom: 115px;
    }

    .o-hero__subtitles {
        font-family: $font-secondary;
        letter-spacing: 0px;
        padding-left: 0;

        margin-left: 675px;

        h3 {
            line-height: 50px;
            margin-bottom: 0;
        }
    }

    .-slider {
        position: relative;

        &:after {
            content: '';
            background: get-color("primary", "after-hours");
            height: 50%;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: block;
            z-index: -1;
        }

        .slick-dots {
            text-align: right;
            right: 16px;
            bottom: -45px;

            li.slick-active button:before {
                border: get-color("primary", "white");
                color: transparent;
            }
        }

        .slick-list {
            // padding:0 20% 0 0;
        }

        .slick-next {
            top: auto;
            bottom: -65px;
            left: 36px;
        }

        .slick-prev {
            top: auto;
            bottom: -65px;
            left: 0;
        }
    }
}