.p-interior-page {

    .o-hero {
        padding-top: 60px;

        &.-case-study {

            @include breakpoints("desktop") {
                padding-top: 80px;
            }

            &.-spaced {
                @include breakpoints("tablet") {
                    padding-top: 100px;
                }
            }
        }

        @include breakpoints("desktop") {
            padding-top: 0;
        }

        &__titles {
            position: static;
            margin-top: 40px;

            h1 {
                margin-bottom: 20px;
            }
        }

        &__top {
            margin-bottom: 29px;
            height: auto;

            @include breakpoints("tablet") {
                margin-bottom: 0;
            }
        }

        &__left,
        &__right {
            @include span-col(12);

            @include breakpoints("tablet") {
                @include span-col(6);
            }
        }

        // Mobile section divider
        // &::after {
        //     content: '';
        //     display: block;
        //     bottom: 0;
        //     left: 0;
        //     height: 2px;
        //     position: absolute;
        //     background: get-color("primary", "fresh");
        //     width: 20px;
        // }
    }

    .o-hero__subtitles {

        @include breakpoints("tablet") {
            font-weight: 100;
            letter-spacing: 0px;
        }

        h3 {
            @include line-height(24px);
            margin-bottom: 0;

            @include breakpoints("tablet") {
                @include font-size(30px);
                @include line-height(50px);
            }
        }
    }

    &.-four-o-four {
        .-four-o-four__copy {
            @include push-col(0);
            @include span-col(10);
            margin-left: 0;

            @include breakpoints("tablet") {
                @include push-col(1);
                padding-left: 12px;
            }

            @include breakpoints("lg-laptop") {
                @include push-col(1);
                padding-left: 0;
            }

            @include breakpoints("desktop") {
                @include push-col(1);
            }

            @include breakpoints("lg-desktop") {
                @include push-col(0);
                padding-left: 0;
            }

            p {
                @include breakpoints("desktop") {
                    margin-left: -12px;
                }
                @include breakpoints("lg-desktop") {
                    margin-left: 0;
                }
            }
        }
    }

    &__content {
        @include span-col(12);
        padding-bottom: 60px;

        @include breakpoints("tablet") {
            @include span-col(10);
        }

        h2 {
            margin-top: 60px;
        }

        h3 {
            @include font-size(26px);
            @include line-height(36px);
            margin-top: 60px;
            color: get-color-primary("fresh");

            @include breakpoints("sm-tablet") {
                @include font-size(30px);
                @include line-height(40px);
            }

            @include breakpoints("tablet") {
                @include font-size(40px);
                @include line-height(50px);
            }
        }

        p {
            @include font-size("small");
            @include line-height(32px);

            @include breakpoints("sm-tablet") {
                @include font-size(24px);
                @include line-height(39px);
            }

            + p {
                margin-top: 39px;
            }

            a {
                @include font-size("small");
                color: get-color-primary("after-hours");
                font-family: $font-primary;
                text-decoration: underline;
                text-decoration-color: get-color-primary("fresh");
                transition: color 0.3s ease;

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                }

                &:hover {
                    color: get-color-primary("fresh");
                    opacity: 1;
                }
            }
        }

        ul,
        ol {
            margin-left: 0;

            @include breakpoints("tablet") {
                margin-left: 20px;
            }

            li {
                @include font-size("small");
                @include line-height(32px);
                margin-bottom: 20px;

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                    @include line-height(39px);
                }
            }

            a {
                @include font-size("small");
                color: get-color-primary("fresh");
                font-family: $font-primary;

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        hr {
            border-top: 3px solid get-color-primary("fresh");
            margin: 60px 0;
            width: 60px;

            + p > em {
                @include font-size("smallest");
            }
        }
    }
}