.p-interior-page {
    .o-hero {
        &.-case-study {

            @include breakpoints("desktop") {
                padding-top: 80px;
            }

            &.-spaced {
                @include breakpoints("tablet") {
                    padding-top: 100px;
                }
            }
        }

        &.-careers {
            margin-bottom: 60px;

            &.-detail {
                margin-bottom: 0;

                .o-hero__left {
                    h1 {
                        text-transform: lowercase;
                    }

                    h2 {
                        @include font-size(24px);
                        @include line-height(38px);

                        @include breakpoints("tablet") {
                            @include font-size(36px);
                            @include line-height(50px);
                        }
                    }
                }

                .o-hero__right {
                    position: relative;

                    img {
                        margin-top: 0;
                        width: 70%;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }

            .o-hero__left {
                @include breakpoints("tablet") {
                    @include span-col(7);
                }
            }

            .o-hero__right {
                @include breakpoints("tablet") {
                    @include span-col(5);
                }

                text-align: center;

                img {
                    margin-top: 142px;
                }
            }
        }

        &.-work {
            margin-bottom: 60px;

            .o-hero__left {
                @include breakpoints("tablet") {
                    @include span-col(8);
                }

                .o-hero__titles {
                    max-width: 100%;
                }
            }

            .o-hero__right {
                @include breakpoints("tablet") {
                    @include span-col(4);
                }

                text-align: center;

                img {
                    margin-top: 50px;
                }
            }
        }

        &__titles {
            position: static;
            margin-top: 40px;

            h1 {
                margin-bottom: 20px;
            }
        }

        &__top {
            margin-bottom: 29px;
            height: auto;

            @include breakpoints("tablet") {
                margin-bottom: 0;
            }
        }

        &__left,
        &__right,
        &__side-one,
        &__side-two {
            @include span-col(12);

            @include breakpoints("tablet") {
                @include span-col(6);
            }
        }

        // Mobile section divider
        // &::after {
        //     content: '';
        //     display: block;
        //     bottom: 0;
        //     left: 0;
        //     height: 2px;
        //     position: absolute;
        //     background: get-color("primary", "fresh");
        //     width: 20px;
        // }
    }

    .o-hero__subtitles {

        @include breakpoints("tablet") {
            font-weight: 100;
            letter-spacing: 0px;
        }

        h3 {
            @include line-height(24px);
            margin-bottom: 0;

            @include breakpoints("tablet") {
                @include font-size(30px);
                @include line-height(50px);
            }
        }
    }

    &.-four-o-four {
        .-four-o-four__copy {
            @include push-col(0);
            @include span-col(10);
            margin-left: 0;

            @include breakpoints("tablet") {
                @include push-col(1);
                padding-left: 12px;
            }

            @include breakpoints("lg-laptop") {
                @include push-col(1);
                padding-left: 0;
            }

            @include breakpoints("desktop") {
                @include push-col(1);
            }

            @include breakpoints("lg-desktop") {
                @include push-col(0);
                padding-left: 0;
            }

            p {
                @include breakpoints("desktop") {
                    margin-left: -12px;
                }
                @include breakpoints("lg-desktop") {
                    margin-left: 0;
                }
            }
        }
    }

    &__wrapper {
        margin-top: 100px;

        @include breakpoints("tablet") {
            margin-top: 160px;
            max-width: 640px;
        }

        @include breakpoints("laptop") {
            max-width: 768px;
        }

        @include breakpoints("sm-desktop") {
            max-width: 900px;
        }

        @include breakpoints(1200px) {
            max-width: 1000px;
        }

        @include breakpoints(1480px) {
            max-width: 1200px;
        }
    }

    &__content {
        @include span-col(12);
        padding-bottom: 60px;

        @include breakpoints("tablet") {
            @include span-col(10);
        }

        h1 {
            @include font-size(44px);
            @include line-height(48px);
            margin-bottom: 40px;
            text-transform: lowercase;

            @include breakpoints("phone") {
                @include font-size(55px);
                @include line-height(61px);
            }

            @include breakpoints("lg-desktop") {
                @include font-size(70px);
                @include line-height(80px);
            }
        }

        h2 {
            @include font-size("medium-large");
            @include line-height(46px);
            margin-bottom: 30px;
            margin-top: 60px;

            @include breakpoints("tablet") {
                @include font-size("largish");
                @include line-height("larger");
            }
        }

        h3 {
            @include font-size(26px);
            @include line-height(36px);
            margin-bottom: 30px;
            margin-top: 60px;
            color: get-color-primary("fresh-dark");

            @include breakpoints("sm-tablet") {
                @include font-size(30px);
                @include line-height(40px);
            }

            @include breakpoints("tablet") {
                @include font-size(40px);
                @include line-height(50px);
            }
        }

        h4 {
            @include font-size("small");
            @include line-height(32px);
            margin-bottom: 10px;
            color: get-color-primary("after-hours");
            font-weight: 600;

            @include breakpoints("sm-tablet") {
                @include font-size(24px);
                @include line-height(39px);
            }
        }

        p {
            @include font-size("small");
            @include line-height(32px);
            margin-block-start: 0;

            @include breakpoints("sm-tablet") {
                @include font-size(24px);
                @include line-height(39px);
            }

            + p {
                margin-top: 30px;
            }

            a {
                @include font-size("small");
                color: get-color-primary("after-hours");
                font-family: $font-primary;
                text-decoration: underline;
                text-decoration-color: get-color-primary("fresh");
                transition: color 0.3s ease;

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                }

                &:hover {
                    color: get-color-primary("fresh");
                    opacity: 1;
                }
            }
        }

        ul,
        ol {
            margin-left: 0;

            @include breakpoints("tablet") {
                margin-left: 20px;
            }

            li {
                @include font-size("small");
                @include line-height(32px);
                margin-bottom: 0;

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                    @include line-height(39px);
                }
            }

            a {
                @include font-size("small");
                color: get-color-primary("fresh");
                font-family: $font-primary;

                @include breakpoints("sm-tablet") {
                    @include font-size(24px);
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        hr {
            border-top: 3px solid get-color-primary("fresh");
            margin: 60px 0;
            width: 60px;

            + p > em {
                @include font-size("smallest");
            }
        }
    }

    .large-image-container {
        .o-rhythm__row {
            max-height: 244px;
            @media (min-width: 400px) {
                max-height: 319px;
            }
            @media (min-width: 500px) {
                max-height: 422px;
            }
            @include breakpoints("sm-tablet"){
                max-height: 500px;
            }
            @include breakpoints("tablet"){
                max-height: 658px;
            }
            @include breakpoints("laptop"){
                max-height: 799px;
            }
            @include breakpoints("sm-desktop") {
                max-height: none;
            }
        }
    }
}