.o-blog-list {
    @include clearfix();
    position: relative;

    .m-blog-post {
        margin-top: 60px;

        &:first-child {
            .m-blog-post__squiggle {
                display: none;
            }
        }

        @include breakpoints("tablet") {
            margin-top: 180px;
        }

        &:last-child {
            @include breakpoints("tablet") {
                margin-bottom: 180px;
            }
        }
    }

    &__scroll {
        @include font-size("base");
        margin-top: 60px;
        color: get-color-primary("fresh");
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include breakpoints("tablet") {
            margin-top: 206px;
        }
    }
}