.o-client-list {
  margin: 32px 0 64px 0;

  &__column {
    @include span-col(6);

    @include breakpoints("tablet") {
      @include span-col(4);
    }

    @include breakpoints("desktop") {
      @include span-col(2);
    }

    img {
      width: 190px;
    }
  }

    // Compensate for the left navbar icon
    @include breakpoints("tablet") {
      margin-left: 65px;
      margin-right: 65px;
    }
    @include breakpoints("lg-desktop") {
      margin-left: initial;
      margin-right: initial;
    }
}