.o-from-our-blog {
    &__container {
        margin-top: 5rem;
        margin-bottom: 5rem;

        .o-rhythm__container {
            display: flex;
            flex-direction: column;
            a.view-all-posts {
                @include font-size("small");
                border-bottom: 0.075em solid get-color("primary", "fresh");
                color: get-color-primary("after-hours");
                line-height: 28px;
                letter-spacing: 0.2em;
                padding-bottom: 0.2em;
                text-decoration: none;
                width: 171px; // used to temporarily patch the bottom border length

                @include breakpoints ("tablet") {
                    font-weight: 600;
                    width: 179px; // used to temporarily patch the bottom border length
                }
            }

            .from-our-blog {
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;

                h2 {
                    margin-right: 30px;
                    @include breakpoints("tablet") {
                        margin-bottom: 0;
                    }
                    margin-bottom: 0.5em;
                }

                @include breakpoints("tablet") {
                    flex-direction: row;
                    align-items: center;
                }
            }

            .blog-list-homepage {
                display: flex;
                flex-direction: column;
                //justify-content: space-between;

                @include breakpoints("tablet") {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }

    &__wrapper {
        // Compensate for the left and right navbar icons
        @include breakpoints("tablet") {
            margin-left: 72px;
            margin-right: 72px;
        }
        @include breakpoints("lg-desktop") {
            margin-left: initial;
            margin-right: initial;
        }
    }
}