.o-from-our-blog__container {
    margin-top: 5rem;
    margin-bottom: 5rem;

    a {
        color: get-color-primary("after-hours");
        font-family: $font-primary;
        text-decoration: underline;
        text-decoration-color: get-color-primary("fresh");
    }
}