:root {
    --backgroundColor: #232323;
    --firstColor: #FFABFF;
    --secondColor: #3D5CC2;
    --thirdColor: #76C1B9;
    --fourthColor: #FCB43D;
}

.o-hero {
    position: relative;

    &.-gradient {
        background: -moz-linear-gradient(top, rgba(223,235,238,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(223,235,238,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(223,235,238,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dfebee', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }

    &.-case-study {

        .o-hero__copy-container {
            @include span-col(12);
            @include font-size(16px);
            @include line-height(36px);
            letter-spacing: .35px;
            font-weight: 300;

            @include breakpoints("sm-tablet") {
                @include span-col(10);
                @include push-col(1);
            }

            @include breakpoints("tablet") {
                @include span-col(6);
                @include push-col(1);
                @include font-size(24px);

                position: relative;
                top: -8px;
            }

            @include breakpoints("desktop") {
                @include span-col(7);
                @include push-col(1);
                @include font-size(24px);
            }

            @include breakpoints("lg-desktop") {
                @include push-col(0);
            }
        }

        .o-hero__list {
            list-style-type: none;
            padding: 0;

            li {
                @include font-size("small");
                @include line-height(24px);
                margin-bottom: 1em;
                font-weight: 600;
                letter-spacing: .04em;
            }

            &-container {
                @include span-col(12);
                margin-top: 40px;

                @include breakpoints("sm-tablet") {
                    @include span-col(10);
                    @include push-col(1);
                }

                @include breakpoints("tablet") {
                    @include span-col(3);
                    @include push-col(2);
                    margin-top: 0;
                }

                @include breakpoints("laptop") {
                    @include span-col(2);
                    @include push-col(2);
                    margin-top: 0;
                }

                h6 {
                    @include font-size(14px);
                    font-weight: 600;
                }
            }
        }

        .o-hero__title,
        .o-hero__image,
        .o-hero__left,
        .o-hero__right {
            @include span-col(12);

            @include breakpoints("tablet") {
                @include span-col(6);
            }
        }

        &.-spaced {
            .o-hero__title {
                padding-top: 60px;

                @include breakpoints("tablet") {
                    padding-bottom: 125px;
                    padding-top: 100px;
                }
            }

            .o-hero__meta {
                padding-bottom: 60px;

                @include breakpoints("tablet") {
                    padding-bottom: 130px;
                }
            }

            .o-hero__image {
                @include breakpoints("tablet") {
                    margin-top: 40px;
                }
            }
        }

        .o-hero__title {
            padding-top: 72px;

            @include breakpoints("tablet") {
                @include span-col(5);
                @include push-col(1);
                padding-top: 150px;
            }

            @include breakpoints("desktop") {
                @include push-col(1);
                padding-top: 220px;
            }

            @include breakpoints("lg-desktop") {
                @include push-col(0);
            }

            h1 {
                @include font-size(44px);
                @include line-height(48px);
                margin-bottom: 32px;

                @include breakpoints("phone") {
                    @include font-size(55px);
                    @include line-height(61px);
                }

                @include breakpoints("lg-desktop") {
                    @include font-size(70px);
                    @include line-height(80px);
                }
            }
        }

        .o-hero__image {
            margin: 0;

            @include breakpoints("tablet") {
                margin-top: 80px;
            }

            @include breakpoints("laptop") {
                margin-top: 0;
            }

            @include breakpoints("desktop") {
                @include push-col(1);
                margin-left: 0;
            }

            img {
                display: block;
                max-width: 100%;

                @include breakpoints("lg-desktop") {
                    max-width: 125%;
                }
            }
        }

        .o-hero__meta {
            color: get-color("primary", "white");
            padding: 80px 0;
            margin-top: -42px;

            @include breakpoints("tablet") {
                padding: 0;;
            }

            &__title {
                @include font-size(19px);
                @include line-height("base");
                color: get-color-primary("white");
                font-family: $font-secondary;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: .24em;

                @include breakpoints("tablet") {
                    @include font-size("small");
                    @include line-height("smaller");
                }
            }

            @include breakpoints("tablet") {
                padding: 120px 0;
            }

            @include breakpoints("desktop") {
                margin-top: -100px;
            }
        }
    }

    &.-interior {
        .o-hero__titles {
            padding-top: 0;
        }

        h2 {
            @include font-size(24px);
            @include line-height(34px);
            margin-bottom: 30px;
        }

        a {
            @include font-size(24px);
            @include line-height(34px);
            font-family: $font-primary;
            text-decoration: underline;
            text-decoration-color: get-color-primary("fresh");
            transition: color 0.3s ease;

            &:hover {
                color: get-color-primary("fresh");
                opacity: 1;
            }
        }
    }

    &.-four-o-four{
        .o-hero__titles {
            padding-top: 0;
        }
    }

    .o-rhythm__container {
        position: relative;
    }

    &__top {
        @include clearfix();
        //margin-bottom: 84px;
        height: 100vh;
    }

    &__titles {
        max-width: 690px;
        top: calc(100vh - 375px);
        //top: calc(100vh - 250px);
        position: absolute;

        @media (min-height: 1024px) {
            top: calc(100vh - 395px);
        }

        @include breakpoints("tablet") {
        }

        p {
            @include line-height(25px);
        }

        .-fade {
            animation: fadeInAnimation ease 6s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        .-fade-homepage-easter-egg {
            opacity: 0;
            animation-delay: 6s;
            animation-duration: 4s;
            animation-name: fadeInAnimation;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
        }

        .-fade-homepage-title {
            opacity: 0;
            animation-delay: 2s;
            animation-duration: 8s;
            animation-name: fadeInAnimation;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
        }

        .-homepage-title {
            // max-width: 488px;
        }

        .-scroll-fade {
            opacity: 0;
            transition: all .6s ease;

            &.-active {
                opacity: 1;
            }
        }
    }

    &__subtitles {
        max-width: 100%;
    }

    &__background {
        position: absolute;
        mix-blend-mode: multiply;
        opacity: 0;
        width: 150%;
        top: 100px;
        right: -25%;
        max-width: 9999999px;

        @include breakpoints("tablet") {
            width: 100%;
            top: 0;
        }

        &.-pink-blob {
            display: none;

            @include breakpoints("lg-desktop") {
                display: block;
            }
        }
    }

    &__vertical {
        @include font-size(14px);
        @include line-height("base");
        color: get-color-primary("after-hours");
        position: fixed;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        top: 278px;
        left: calc(3% + 23px);
        display: none;
        word-spacing: 2em;
        font-family: $font-secondary;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .15em;

        @include breakpoints("tablet") {
            @include font-size("base");
            @include line-height("smaller");
        }

        @include breakpoints("lg-desktop") {
            display: block;
        }
    }

    h1 {

        @include breakpoints("tablet") {
            font-size: 70px;
        }

        &.-after {

            &:after {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 13px;
                width: 24px;
                position: absolute;
                display: inline-block;
                vertical-align: top;
                margin-left: 1px;
                margin-top: 14px;
            }
        }
    }

    h2 {
        @include font-size("small");
        @include line-height(32px);
        margin: 40px 0 80px 0;
        color: get-color-primary("after-hours");

        @include breakpoints("tablet") {
            @include font-size("medium-large");
            @include line-height("larger");
        }
    }

    p {
        position: relative;
        margin-top: 80px;
        margin-left: 20px;
        z-index: 1;

        @include breakpoints("tablet") {
            display: block;
            max-width: 144px;
            margin-top: 100px;
        }

        &.-before {

            &:before {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 8px;
                width: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 7px;
                position: absolute;
                left: -14px;
            }
        }
    }

    .-blinky svg {
        width: 100px;
        height: 100px;

        .st0 {
            fill: get-color("primary", "after-hours");
        }
    }

    .-jigglydoo svg {
        transform-origin: 50% 50%;
        animation: move 24s ease-in-out infinite;

        @include breakpoints("tablet") {
            width: 800px;
            height: 800px;
        }
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &.-homepage {
        display: flex;
        padding-top: calc(975 / 800 * 100% + 299px);
        position: relative;

        @include breakpoints("tablet"){
            padding-top: calc(975 / 1600 * 100%);
        }

        @include breakpoints(1600px) {
            margin: 0 auto;
            padding-top: 975px;
            width: 1600px;
        }
        .o-hero__text-container {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 225px;
            left: 0;
            max-width: none;
            padding-right: 26px;
            position: absolute;
            top: 0;
            margin-right: 0;
            margin-top: 50px;
            width: 100%;

            @include breakpoints("phone"){
                margin-top: 40px;
            }

            @include breakpoints("tablet"){
                height: 100%;
                padding-right: 0;
                width: 50%;
                justify-content: flex-end;
            }

            .o-hero__top {
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: center;

                @include clearfix();

                @include breakpoints(1196px){
                    justify-content: flex-end;
                    max-width: 600px;
                    position: relative;
                    width: 100%;
                }

                .o-hero__titles {
                    bottom: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    left: 32px;
                    margin-top: 83px;
                    max-width: 72%;
                    top: auto;
                    position: absolute;

                    @include breakpoints("phone"){
                        margin-top: 60px;
                    }

                    @include breakpoints(1280px){
                        bottom: 12%;
                        left: 50%;
                        margin-left: -300px;
                        max-width: 72%;
                    }

                    @include breakpoints("lg-desktop"){
                        left: 50%;
                        max-width: 90%;
                        width: auto;

                    }

                    h1 {
                        @include font-size(44px);
                        @include line-height(48px);
                        margin-bottom: 0;

                        @include breakpoints("phone") {
                            margin-bottom: 32px;
                            @include font-size(43px);
                            @include line-height(52px);
                        }

                        @include breakpoints("tablet") {
                            @include font-size(38px);
                            @include line-height(44px);
                        }

                        @include breakpoints("laptop") {
                            @include font-size(49px);
                            @include line-height(59px);
                        }

                        @include breakpoints("desktop") {
                            @include font-size(55px);
                            @include line-height(61px);
                        }

                        @include breakpoints("lg-desktop") {
                            @include font-size(70px);
                            @include line-height(80px);
                        }
                    }

                    p {
                        margin-top: 22px;
                        max-width: 107px;

                        @include breakpoints("tablet") {
                            margin-top: 89px;
                            max-width: 46%;
                        }

                        @include breakpoints("laptop") {
                            max-width: 41%;
                        }

                        @include breakpoints("sm-desktop") {
                            max-width: 35%;
                        }

                        @include breakpoints("lg-desktop") {
                            margin-top: 89px;
                            max-width: 26%;
                        }
                    }
                }
            }
        }

        .o-hero__image-container {
            margin-top: 300px;
            position: absolute;
            right: 0;
            top: 0;
            width: 93%;
            // height: 500px;
            padding-top: calc(975 / 800 * 100%);

            @include breakpoints("tablet"){
                height: 100%;
                margin-top: 0;
                padding-top: 0;
                width: 50%;
            }

            img {
                position: absolute;
            }

            .-person {
                bottom: 0;
                right: 10px;
                width: 100%;
                z-index: 5;

                @include breakpoints("phone"){
                    right: 23%;
                    width: 50%;
                }

                @include breakpoints("tablet"){
                    width: 66%;
                }
            }

            .-black-x {
                right: 70%;
                top: 20%;
                width: 16%;
                z-index: 1;
            }

            .-blue-lines {
                top: 65%;
                right: 25%;
                width: 10%;
                z-index: 1;
            }

            .-blue-plant {
                right: 52%;
                top: 23%;
                width: 12%;
                z-index: 1;
            }

            .-fog-dots {
                right: 16%;
                top: 20%;
                width: 50%;
                z-index: 0;
            }

            .-fog-eyeball {
                right: 82%;
                top: 10%;
                width: 14%;
                z-index: 0;
            }

            .-fog-tag {
                right: 88%;
                top: 62%;
                width: 8%;
            }

            .-green-go {
                right: 40%;
                top: 35%;
                width: 16%;
                z-index: 1;
            }

            .-green-plant {
                bottom: 37%;
                right: 80%;
                width: 18%;
            }

            .-orange-blob {
                display: none;
                right: 0%;
                top: 40%;
                width: 16%;
            }

            .-orange-cube {
                right: 50%;
                top: 8%;
                width: 12%;
            }

            .-pink-asterisk {
                right: 29%;
                top: 76%;
                width: 6%;
            }

            .-pink-drop {
                right: 44%;
                top: 54%;
                width: 26%;
            }

            .-pink-raindrops {
                right: 20%;
                top: 1%;
                width: 24%;
            }

            .-red-prism {
                bottom: 11%;
                right: 76%;
                width: 24%;
            }

            .-red-teeth {
                right: 20%;
                top: 79%;
                width: 2%;
            }

            .-salmon-blob {
                right: 70%;
                top: 14%;
                width: 22%;
            }

            .-teal-asterisk {
                top: 55%;
                right: 36%;
                width: 6%;
            }

            .-teal-rainbow {
                bottom: 50%;
                right: 84%;
                width: 24%;
            }

            .-yellow-squiggle {
                right: 10%;
                top: 18%;
                width: 24%;
            }
        }


        h2 {
            margin: 0;
        }
    }
}
