.o-hero {
    position: relative;
    background: -moz-linear-gradient(top, rgba(223,235,238,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(223,235,238,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(223,235,238,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dfebee', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


    .o-rhythm__container {
        position: relative;
    }

    &__top {
        margin-bottom: 200px;
        padding-top: 100px;

        @include breakpoints("tablet") {
            padding-top: 218px;
        }
    }

    &__titles {
        margin-top: 60px;
        max-width: 800px;
        width: 100%;

        @include breakpoints("tablet") {
            padding-left: 160px;
        }
    }

    &__subtitles {
        max-width: 800px;
        width: 100%;

        @include breakpoints("tablet") {
            padding-left: 160px;
        }
    }

    &__background {
        position: absolute;

        &.-jigglydoo {
            right: -120px;
            top: 60px;
            max-width: 75%;

            @include breakpoints("tablet") {
                right: -24px;
                top: -54px;
                max-width: 800px;
            }
        }

        &.-terrazo {
            display: none;
            right: 0;
            top: 100px;

            @include breakpoints("tablet") {
                display: block;
            }
        }

        &.-greenbrush {
            display: none;
            left: 0;
            bottom: 20%;

            @include breakpoints("tablet") {
                display: block;
            }
        }

        &.-greenblob {
            display: none;
            right: 180px;
            top: 80vh;

            @include breakpoints("tablet") {
                display: block;
            }
        }

        &.-dots {
            top: 50%;
            right: -114px;
            width: 200px;

            @include breakpoints("tablet") {
                top: -40px;
                right: 24%;
                width: auto;
            }
        }

        &.-circles-crosses {
            bottom: 225px;
            left: -100px;
        }

        &.-blue-paint {
            right: 375px;
        }
    }

    h1 {

        &.-after {

            &:after {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 24px;
                width: 24px;
                display: inline-block;
                vertical-align: top;
                margin-left: 20px;
            }
        }
    }

    h3 {
        margin: 0 0 80px 0;

        @include breakpoints("tablet") {
            margin: 0 0 280px 0;
        }
    }

    h6 {
        color: get-color("neutral", "light-gray");
        position: absolute;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        top: 50%;
        left: 0;
        height: 124px;
        display: none;

        @include breakpoints("tablet") {
            display: block;
        }
    }

    p {
        position: relative;
        float: right;
        max-width: 160px;
        display: none;

        @include breakpoints("tablet") {
            display: block;
        }

        &.-before {

            &:before {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 12px;
                width: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                position: absolute;
                left: -28px;
            }
        }
    }
}