.c-menu {
    &.-open {
        .c-menu__overlay {
            opacity: .8;
            visibility: visible;
        }

        nav {
            transform: translateX(0);

            a {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 20;
        background-color: get-color-primary("white");
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s cubic-bezier(.86,0,.07,1),visibility .6s cubic-bezier(.86,0,.07,1) 0s;
        will-change: opacity;

        .o-rhythm__container.-fluid {
            padding: 0;
        }

        &__logo {
            display: block;
            width: 50px;
            position: fixed;
            top: 50px;
            perspective: 200px;
            transition: opacity .4s cubic-bezier(.165,.84,.44,1);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);

            @include breakpoints("tablet") {
                width: 60px;
            }

            svg {
                path {
                    fill: get-color-primary("fresh");
                }
            }
        }
    }

    nav {
        height: 100%;
        padding-left: 50px;
        padding-top: 150px;
        width: 350px;
        position: fixed;
        right: 0;;
        top: 0;
        z-index: 21;
        background-color: get-color-primary("fresh");
        transform: translateX(100%);
        transition: transform .6s cubic-bezier(.86,0,.07,1);
        will-change: transform;
        box-shadow: 0px 3px 10px 0px rgba(0, 12, 13, 0.4);

        @include breakpoints("sm-tablet") {
            padding-left: 100px;
            padding-top: 175px;
            width: 430px;
        }

        button {
            border: none;
            height: 29px;
            padding: 0;
            width: 30px;
            position: absolute;
            right: 60px;
            top: 68px;
            background-color: transparent;
            -webkit-appearance: none;
            font-family: $font-primary;
            cursor: pointer;
            transition: transform .5s ease, opacity .5s ease;

            &:hover {
                transform: rotate(90deg);
                opacity: 0.6;
            }

            svg text {
                fill: get-color-primary("white");
                font-size: 32px;
                font-weight: 300;
            }
        }

        a {
            @include font-size(50px);
            @include line-height(80px);
            display: block;
            color: get-color-primary("white");
            font-family: $font-primary;
            text-transform: lowercase;
            transform: translateX(100%);
            opacity: 0;
            will-change: transform,opacity;
            transition: opacity .6s cubic-bezier(.77,0,.175,1) 0.25s, transform .9s cubic-bezier(.77,0,.175,1) 0.25s;

            &:nth-of-type(2) {
                transition-delay: 0.5s, 0.5s;
            }

            &:nth-of-type(3) {
                transition-delay: 0.75s, 0.75s;
            }

            &:nth-of-type(4) {
                transition-delay: 1s, 1s;
            }

            &:nth-of-type(5) {
                transition-delay: 1.25s, 1.25s;
            }

            &:nth-of-type(6) {
                transition-delay: 1.5s, 1.5s;
            }

            &:hover {
                opacity: 0.6;
            }

            @include breakpoints("sm-tablet") {
                @include line-height(99px);
            }
        }
    }
}