.c-menu {
    &.-open {
        .c-menu__overlay {
            opacity: .8;
            visibility: visible;
        }

        nav {
            transform: translateX(0);

            a {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 20;
        background-color: get-color-primary("fog");
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s cubic-bezier(.86,0,.07,1),visibility .6s cubic-bezier(.86,0,.07,1) 0s;
        will-change: opacity;
    }

    nav {
        height: 100%;
        padding-left: 100px;
        padding-top: 225px;
        width: 430px;
        position: fixed;
        right: 0;;
        top: 0;
        z-index: 21;
        background-color: get-color-primary("fresh");
        transform: translateX(100%);
        transition: transform .6s cubic-bezier(.86,0,.07,1);
        will-change: transform;
        box-shadow: 0px 3px 10px 0px rgba(0, 12, 13, 0.4);


        button {
            border: none;
            height: 29px;
            padding: 0;
            width: 30px;
            position: absolute;
            right: 51px;
            top: 91px;
            background-color: transparent;
            -webkit-appearance: none;
            font-family: $font-primary;
            cursor: pointer;

            svg text {
                fill: get-color-primary("white");
                font-size: 32px;
                font-weight: 300;
            }
        }

        a {
            @include font-size(50px);
            @include line-height(99px);
            display: block;
            color: get-color-primary("white");
            font-family: $font-primary;
            text-transform: lowercase;

            transform: translateX(100%);
            opacity: 0;
            will-change: transform,opacity;
            transition: opacity .6s cubic-bezier(.77,0,.175,1) 0.5s, transform .9s cubic-bezier(.77,0,.175,1) 0.5s;

            &:nth-of-type(2) {
                transition-delay: 0.75s, 0.75s;
            }

            &:nth-of-type(3) {
                transition-delay: 1s, 1s;
            }
        }
    }
}