.o-perk-list {
    margin: 50px 0 25px;

    @include breakpoints("tablet") {
        margin-top: 73px;
    }

    .m-perk {
        @include span-col(12);
        margin-bottom: 30px;

        @include breakpoints("sm-tablet") {
            @include span-col(6);
        }

        @include breakpoints("tablet") {
            @include span-col(4);
            margin-bottom: 57px;
        }
    }
}