.o-slider {
    position: relative;
    height: 354px;

    &:before {
        content: '';
        background: get-color("primary", "white");
        height: 100%;
        width: 1000px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: -1000px;
        display: block;
        z-index: 1;
    }

    @include breakpoints("tablet") {
        height: 986px;
    }

    .o-rhythm__container {
        padding: 0;

        @include breakpoints("tablet") {
            padding: 0 20px;
        }
    }

    .slick-dots {
        bottom: -28px;

        li {

            button {

                &:before {
                    color: get-color("neutral", "light-gray");
                    opacity: 1;
                }
            }

            &.slick-active {

                button {

                    &:before {
                        color: get-color("neutral", "light-gray");
                        content: "\2218";
                        font-size: 22px;
                        top: -3px;
                    }
                }
            }
        }

        @include breakpoints("tablet") {
            text-align: right;
            right: 0;
            bottom: -58px;
            width: auto;
        }
    }

    .slick-list {

        @include breakpoints("tablet") {
            overflow: visible;

            .slick-slide {

                div {
                    margin: auto 10px;
                }
            }
        }
    }

    .slick-prev {
        display: none !important;
        top: auto;
        bottom: -72px;
        left: 8px;
        width: 28px;
        height: 23px;

        @include breakpoints("tablet") {
            display: block !important;
        }

        &::before {
            content: '';
        }

        svg {
            fill: get-color("neutral", "light-gray");
            transition: all 400ms ease;
        }

        &:hover {
            svg {
                fill: get-color("primary", "fresh");
            }
        }
    }

    .slick-next {
        display: none !important;
        top: auto;
        bottom: -72px;
        left: 72px;
        width: 28px;
        height: 23px;

        @include breakpoints("tablet") {
            display: block !important;
        }

        &::before {
            content: '';
        }

        svg {
            fill: get-color("neutral", "light-gray");
            transition: all 400ms ease;
        }

        &:hover {
            svg {
                fill: get-color("primary", "fresh");
            }
        }
    }
}