.o-slider {
    position: relative;

    &__container {
        position: relative;
        margin-bottom: 120px;
    }

    &:before {
        content: '';
        background: get-color("primary", "white");
        height: 102%;
        width: 1000px;
        position: absolute;
        left: -1000px;
        display: block;
        z-index: 1;
        top: -1px;
    }

    // @include breakpoints("tablet") {
    //     height: 986px;
    //     width: 80%;
    //     left: 14%;
    // }

    // @include breakpoints("lg-desktop") {
    //     height: 986px;
    //     width: 100%;
    //     left: 0;
    // }

    .o-rhythm__container {
        padding: 0;

        @include breakpoints("tablet") {
            padding: 0 20px;
        }
    }

    .slick-dots {
        bottom: -40px;

        li {
            margin: 0 2px;

            button {
                &:before {
                    color: get-color("neutral", "light-gray");
                    opacity: 1;
                }

                &:focus {
                    outline: 1px solid get-color-primary("fresh");

                    &:before {
                        color: get-color-primary("fresh");
                    }
                }
            }

            &.slick-active {
                button {
                    &:before {
                        color: get-color("neutral", "light-gray");
                        content: "\2218";
                        font-size: 22px;
                        top: -3px;
                    }
                }
            }
        }

        @include breakpoints("tablet") {
            text-align: right;
            right: 0;
            bottom: -58px;
            width: auto;
        }
    }

    .slick-list {
        @include breakpoints("tablet") {
            overflow: visible;

            .slick-slide {

                div {
                    margin: auto 10px;
                }
            }
        }
    }

    .slick-slide {
        img {
            vertical-align: bottom;
            margin-bottom: -1px;
        }
    }

    .slick-prev {
        display: none !important;
        top: auto;
        bottom: -72px;
        left: 8px;
        width: 28px;
        height: 23px;

        @include breakpoints("tablet") {
            display: block !important;
        }

        &::before {
            content: '';
        }

        svg {
            fill: get-color("neutral", "light-gray");
            transition: all 400ms ease;
        }

        &:hover {
            svg {
                fill: get-color("primary", "fresh");
            }
        }
    }

    .slick-next {
        display: none !important;
        top: auto;
        bottom: -72px;
        left: 72px;
        width: 28px;
        height: 23px;

        @include breakpoints("tablet") {
            display: block !important;
        }

        &::before {
            content: '';
        }

        svg {
            fill: get-color("neutral", "light-gray");
            transition: all 400ms ease;
        }

        &:hover {
            svg {
                fill: get-color("primary", "fresh");
            }
        }
    }
}

.pull-icon {
    @include font-size(20px);
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: get-color-primary("fresh");
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: get-color("primary", "white");
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 80px;
    z-index: 9;
    pointer-events: none;
    animation-name: pull-indicator;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    span {
        position: relative;
        display: block;
        top: -28px;
        width: 30px;
        height: 2px;
        margin: 10px auto;
        background: #fff;
    }

    span::before,
    span::after {
        content: '';
        position: absolute;
        left: 0px;
        width: 10px;
        height: 2px;
        background: #fff;
    }

    span::before {
        transform: rotate(-45deg);
        top: -4px;
    }

    span::after {
        transform: rotate(45deg);
        bottom: -4px;
    }

    &.-paused{
        // -webkit-animation-play-state:paused;
        // -moz-animation-play-state:paused;
        // -o-animation-play-state:paused;
        // animation-play-state:paused;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }
}

@keyframes pull-indicator {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      right: 30px;
      opacity: 1;
    }
    100% {
      right: 150px;
      opacity: 0;
    }
}