// Slider styles that are only relevant to the slider on the team page
// but not the one on the contact page (which is currently the only other usage of slider on site)

.o-team {
    .o-slider {
        .-disabled {
            opacity: 0.25;
            pointer-events: none;
        }
    }

    .o-slider.-is-expanded {
        .slick-dots li {
            cursor: default;

            button {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }

    .slick-slide {
        div {
            margin: 0 !important;
            width: 100%;

            .team-grid-member {
                cursor: pointer;
                padding: 0 15px;
                position: relative;
                margin: 0 !important;

                img {
                    display: block;
                    width: 100%;
                }

                .gradient {
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 75%,
                        rgba(0, 0, 0, 0.1) 100%
                    );
                    bottom: 0;
                    left: 0;
                    margin: 0 !important;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                }

                .green-gradient {
                    // CSS doesn't allow transitions of background gradients, instead we have two
                    // gradients and use opacity and z-index to transition between them.
                    background: -webkit-gradient(
                        linear,
                        left top,
                        left bottom,
                        color-stop(50%, transparent),
                        to(rgba(25, 164, 124, 0.35))
                    );
                    bottom: 0;
                    left: 0;
                    mix-blend-mode: normal;
                    opacity: 0;
                    position: absolute;
                    transition: opacity 1s;
                    top: 0;
                    right: 0;
                    z-index: 5;

                    &:hover {
                        opacity: .6;
                        z-index: 5;
                    }
                }
            }
        }
    }
}
