.o-work-featured {
    &__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: get-color-primary("white");
        background-color: get-color-secondary("violet");
        @include breakpoints("laptop") {
            background-image: url("/img/home-feature-edio-triangle.png"), url("/img/home-feature-edio-dots.png"),
                url("/img/home-feature-edio-swabs.png");
            background-position: top left, top right, bottom right;
            background-repeat: no-repeat;
            // TODO image scale by half
        }

        .featured-work-partner-name {
            color: get-color-neutral("lighter-gray");
            text-transform: uppercase;
            font-size: 20px; //@include font-size("smallest");
            font-family: $font-secondary;
            letter-spacing: .2em;
            font-weight: 600;
            line-height: 1em;
        }

        .featured-work-title {
            color: get-color-primary("white");
            @include font-size("largish");
            @include line-height("largish");
        }

        .o-rhythm__container {
            display: flex;
            flex-direction: column;
            @include breakpoints("tablet") {
                flex-direction: row;
            }
        }
    }

    &__image-container {
        width: 100%;
        float: none;
        position: relative;
        margin-bottom: 40px;

        @include breakpoints("tablet") {
            width: calc(50% - 62px);
            float: left;
            margin-right: 64px;
            margin-bottom: 0;
        }

        @include breakpoints("sm-desktop") {
            margin-bottom: 0;
            width: 50%;
            float: left;
        }

    }

    &__content {
        align-self: center;
        width: 100%;
        float: none;
        padding-bottom: 60px;

        &-inner {
            @include breakpoints("tablet") {
                //padding-left: 80px;
                //padding-right: 50px;
            }

            @include breakpoints("lg-desktop") {
                //padding-left: 0;
                //padding-right: 100px;
            }
        }

        @include breakpoints("tablet") {
            width: 50%;
            float: right;
        }

        a {
            line-height: 27px;
            font-size: 16px; //@include font-size("small");
            font-weight: 500;
            color: get-color-primary("white");
            font-family: $font-secondary;
            margin-right: 32px;
            letter-spacing: .2em;
            border-bottom-width: 0.2em;
            border-color: get-color-primary("fresh");
            text-decoration: none;
            border-bottom-style: solid;
            @include breakpoints("sm-desktop") {
                font-size: 20px;
            }
        }

        h2 {
            letter-spacing: 0.2em;
        }

        .featured-work-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
