.o-work-featured {
    &__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: get-color-secondary("violet");
        color: get-color-primary("white");

        .featured-work-partner-name {
            color: get-color-neutral("lighter-gray");
            text-transform: uppercase;
            @include font-size("small");
            @include line-height("smallest");
        }

        .featured-work-title {
            color: get-color-primary("white");
            @include font-size("largish");
            @include line-height("largish");
        }

        .o-rhythm__container {
            display: flex;
        }
    }

    &__image-container {
        width: 100%;
        float: none;
        position: relative;
        margin-bottom: 40px;

        @include breakpoints("tablet") {
            width: calc(50% - 62px);
            float: left;
            margin-right: 64px;
            margin-bottom: 0;
        }

        @include breakpoints("sm-desktop") {
            margin-bottom: 0;
            width: 50%;
            float: left;
        }
    }

    &__content {
        align-self: center;
        width: 100%;
        float: none;
        padding-bottom: 60px;

        &-inner {

            @include breakpoints("tablet") {
                //padding-left: 80px;
                //padding-right: 50px;
            }

            @include breakpoints("lg-desktop") {
                //padding-left: 0;
                //padding-right: 100px;
            }
        }

        @include breakpoints("tablet") {
            width: 50%;
            float: right;
        }

        a {
            line-height: 27px;
            @include font-size("small");

            color: get-color-primary("white");
            font-family: $font-primary;
            text-decoration: underline;
            text-decoration-color: get-color-primary("fresh");
            margin-right: 64px;
            //text-underline-offset: 15px;    // TODO not supported on chrome
        }
    }
}