.m-blog-post {
    &.-right {
        .m-blog-post__details__wrapper {
            padding-left: 0;
            padding-right: 72px;
        }
    }

    &__image {
        @include span-col(7);
        height: 550px; // TODO: Remove when we have the real image. This is to take up space.
    }

    &__details {
        @include span-col(5);
        margin-top: 350px;

        h5 {
            @include font-size("base");
            margin-bottom: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: get-color-neutral("light-blue");
        }

        p {
            @include font-size("medium-large");
            @include line-height("large");
            color: get-color-primary("after-hours");
            margin-block-end: 0;
            margin-block-start: 0;
        }

        &__wrapper {
            padding-left: 72px;
        }
    }
}