.m-blog-featured {
    height: 638px;
    margin-top: 165px;
    width: 100%;
    position: relative;
    background-color: get-color-primary("fresh");

    @include breakpoints("laptop") {
        height: 652px;
    }

    img {
        left: 0;
        position: absolute;
        top: 0;
    }

    &__title {
        @include span-col(6);
        @include push-col(6);
        padding-top: 200px;
        color: get-color-primary("white");

        @include breakpoints("sm-desktop") {
        }

        h1 {
            margin-bottom: 50px;
        }

        > a {
            @include font-size("base");
            border-bottom: 2px solid get-color-primary("white");
            display: inline-block;
            padding-bottom: 5px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}