.m-blog-featured {
    @include clearfix();
    margin-top: 80px;
    width: 100%;
    position: relative;
    background-color: get-color-primary("fresh");

    @include breakpoints("laptop") {
        margin-top: 160px;
    }

    &__image {
        float: none;
        width: 100%;

        @include breakpoints("sm-tablet") {
            float: left;
            width: 40%;
        }

        img {
            max-width: auto;
        }
    }

    &__title {
        float: none;
        width: 100%;
        padding: 60px 30px;
        color: get-color-primary("white");

        @include breakpoints("sm-tablet") {
            float: left;
            padding: 60px 60px 0 60px;
            width: 60%;
        }

        @include breakpoints("tablet") {
            padding-top: 100px;
        }

        @include breakpoints("lg-desktop") {
            padding-top: 165px;
        }

        h1 {
            margin-bottom: 50px;
        }

        > a {
            @include font-size("base");
            border-bottom: 2px solid get-color-primary("white");
            display: inline-block;
            padding-bottom: 5px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}