.m-blog-homepage {
    @include breakpoints("tablet") {
        width: 30%;
    }

    a {
        color: get-color-primary("after-hours");
        font-family: $font-primary;
        text-decoration: underline;
        text-decoration-color: get-color-primary("fresh");
    }

    p.blog-author {
        text-transform: lowercase;
    }

    p.blog-category {
        color: get-color-neutral("light-gray");
        text-transform: uppercase;
        @include font-size("smallest");
        letter-spacing: .2em;
    }
}