.m-blog-post {
    width: 100%;

    &.-right {
        .m-blog-post__details__wrapper {
            padding-left: 0;
            padding-right: 0;

            @include breakpoints("laptop") {
                padding-right: 72px;
            }
        }
    }

    &__image {
        @include span-col(12);

        @include breakpoints("laptop") {
            @include span-col(6);
        }

        @include breakpoints("sm-desktop") {
            @include span-col(7);
        }
    }

    &__details {
        @include span-col(12);
        position: relative;;

        @include breakpoints("laptop") {
            @include span-col(6);
        }

        @include breakpoints("sm-desktop") {
            @include span-col(5);
        }

        h5 {
            @include font-size("base");
            margin-bottom: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: get-color-neutral("light-blue");
        }

        p {
            @include font-size("medium");
            @include line-height(32px);
            color: get-color-primary("after-hours");
            margin-block-end: 0;
            margin-block-start: 0;

            @include breakpoints("laptop") {
                @include font-size("medium-large");
                @include line-height("large");
            }
        }

        &__wrapper {
            margin-bottom: 32px;
            padding-left: 0;
            position: relative;

            @include breakpoints("laptop") {
                margin-bottom: 0;
                padding-left: 72px;
                position: absolute;
                bottom: 60px;
            }
        }
    }
}