.m-blog-homepage {
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoints("tablet") {
        width: 30%;
        margin-bottom: 0;
    }

    a {
        color: get-color-primary("after-hours");
        font-family: $font-primary;
        text-decoration: underline;
        text-decoration-color: get-color-primary("fresh");
    }

    img {
        width: 75%;
        @include breakpoints("tablet") {
            width: 100%;
        }
    }

    p.blog-author {
        text-transform: lowercase;
    }

    p.blog-category {
        color: get-color-neutral("light-gray");
        text-transform: uppercase;
        @include font-size("smallest");
        letter-spacing: .2em;
    }
}