.m-careers {
    background: get-color("primary", "after-hours");
    padding-bottom: 200px;

    &__left {
        @include span-col(12);

        @include breakpoints("tablet") {
            @include span-col(4);
        }
    }

    &__right {
        @include span-col(12);
        margin-top: 40px;
        
        @include breakpoints("tablet") {
            @include span-col(8);
            margin-top: 0;
        }
    }

    h2 {
        color: get-color("primary", "white");
    }

    h6 {
        margin-bottom: 60px; 
    }
}