.m-case-study-page-content {

    img {
        box-shadow: none !important;
    }

    &__color-block {
        background: #76c1b9;
        color: get-color("primary", "white");
    }

    &__copy-section {
        padding: 80px 0;

        @include breakpoints("tablet") {
            padding: 252px 0;
        }

        &.-with-image {
            position: relative;
            padding: 0;

            .content__image {
                display: none;

                @include breakpoints("tablet") {
                    display: block;
                }
            }

            .content__copy {
                padding: 80px 0;

                @include breakpoints("tablet") {
                    padding: 252px 0 150px 0;
                }
            }
        }

        header {
            @include font-size(40px);
            margin-bottom: 40px;

            @include breakpoints("tablet") {
                @include font-size(60px);
                margin-bottom: 113px;
            }
        }

        p {
            margin-bottom: 32px;
        }

        .easter-egg {
            color: get-color("neutral", "light-gray");
            margin-left: 18px;
            position: relative;

            &:before {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 12px;
                width: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                position: absolute;
                left: -18px;
            }

            &__right {
                position: relative;

                &:after {
                    content: '';
                    background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                    height: 12px;
                    width: 12px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    position: absolute;
                    right: -18px;
                }
            }
        }

        .content {
            &__easter-egg {
                @include span-col(12);

                @include breakpoints("tablet") {
                    @include span-col(2);
                    @include push-col(1);
                }
            }


            &__header {
                @include span-col(2);
                color: get-color("neutral", "medium-gray");
                margin-bottom: 20px;
                margin-left: 0;
                font-weight: 600;

                @include breakpoints("tablet") {
                    margin-bottom: 0;
                }
            }

            &__image {
                width: 50%;
                position: absolute;
                right: -14%;
                margin-top: 60px;
            }

            &__copy {
                @include span-col(12);
                position: relative;
                top: -8px;

                @include breakpoints("tablet") {
                    @include span-col(8);
                    @include push-col(1);
                }

                &.-left {

                    @include breakpoints("tablet") {
                        @include push-col(0);
                        @include span-col(7);
                    }
                }

                p:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }

    &__image {
        margin: 0;
        width: 100%;

        &-container {
            display: flex;

            &.-kd {
                &-gradient {
                    background: linear-gradient(white, #E0ECEF);
                }
            }
        }

        &.-half {
            min-width: 0;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(50% - 12px);
            max-width: calc(50% - 12px);
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;

            @include breakpoints("tablet") {
                max-width: 99999px;
            }
        }
    }

    &__next {
        background: get-color("neutral", "gray");
        padding: 40px 0 80px 0;

        @include breakpoints("tablet") {
            padding: 157px 0 335px 0;
        }

        h6,
        h2 {
            color: get-color("primary", "white");
        }

        h6 {
            margin-bottom: 20px;

            @include breakpoints("tablet") {
                margin-bottom: 60px;
            }
        }
    }

    &__section {
        position: relative;

        .kd {
            &-image {
                position: relative;

                &.-dot-grid {

                }

                &.-phone {
                    top: -104px;
                    left: 284px;
                    z-index: 1;
                }

                &.-teachers-students {
                    right: -134px;
                }

            }
        }

        .sketch {
            @include span-col(12);
            box-shadow: none;
            position: relative;

            @include breakpoints("tablet") {
                @include span-col(6);
            }

            &.-one {

                @include breakpoints("tablet") {
                    top: -160px;
                    right: -80px;
                }
            }

            &.-two {
                top: -40px;

                @include breakpoints("tablet") {
                    top: 0;
                }
            }
        }
    }
}