.m-case-study-collage {
    padding-bottom: 48px;
    text-align: center;

    img {
        max-width: 80%;
    }

    @include breakpoints("laptop") {
        margin-bottom: -90px;
        text-align: inherit;

        img {
            max-width: 100%;
        }
    }

    p:first-child {
        padding-left: 0;

        @include breakpoints("laptop") {
            padding-left: 15%;
        }
    }

    p:nth-child(2) {
        @include font-size(24px);
        line-height: 2rem;
        padding-top: 20px;
        color: get-color-primary("fresh-dark");

        @include breakpoints("laptop") {
            padding-left: 25%;
            width: 455px;
        }
    }

    p:last-child {
        position: relative;

        @include breakpoints("laptop") {
            padding-left: 50%;
            top: -225px;
        }
    }
}