.m-case-study-page-content {
    padding-top: 252px;

    &__section {
        padding-bottom: 252px;

        @include span-col(12);

        &.-push {
            @include breakpoints("tablet") {
                @include span-col(8);
                @include push-col(1);
            }
        }

        header {
            @include font-size(60px);
            color: get-color("primary", "after-hours");
            margin-bottom: 113px;
        }

        p {
            color: get-color("neutral", "medium-gray");
            margin-bottom: 32px;
        }

        .easter-egg {
            color: get-color("neutral", "light-gray");
            margin-left: 18px;
            position: relative;

            &:before {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 12px;
                width: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                position: absolute;
                left: -18px;
            }
        }

        .research {
            &__header {
                @include span-col(1);
                color: get-color("neutral", "medium-gray");
            }

            &__copy {
                @include span-col(8);
                @include push-col(2);
                position: relative;
                top: -8px;

                p:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }

    .sketch {
        @include span-col(6);
        box-shadow: none;
        position: relative;

        &.-one {
            top: -160px;
            right: -40px;
        }

        &.-two {

        }
    }
}