.m-case-study-page-content {

    img {
        box-shadow: none !important;
    }

    &__color-block {
        background: #76c1b9;
        color: get-color("primary", "white");
    }

    &__copy-section {
        padding: 252px 0;

        &.-with-image {
            position: relative;
            padding: 0;

            .content__copy {
                padding: 252px 0 150px 0;
            }
        }

        header {
            @include font-size(60px);
            margin-bottom: 113px;
        }

        p {
            margin-bottom: 32px;
        }

        .easter-egg {
            color: get-color("neutral", "light-gray");
            margin-left: 18px;
            position: relative;

            &:before {
                content: '';
                background: url('../../../static/img/asterisk.png') no-repeat center center / contain;
                height: 12px;
                width: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                position: absolute;
                left: -18px;
            }
        }

        .content {

            &__header {
                @include span-col(2);
                color: get-color("neutral", "medium-gray");
                font-weight: 600;
            }

            &__image {
                width: 50%;
                position: absolute;
                right: -14%;
                margin-top: 60px;
            }

            &__copy {
                @include span-col(8);
                @include push-col(1);
                position: relative;
                top: -8px;

                &.-left {
                    @include push-col(0);
                    @include span-col(7);
                }

                p:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }

    &__image {
        display: block;
        max-width: 99999px;

        &.-half {
            @include span-col(6);
        }
    }

    &__next {
        background: get-color("neutral", "gray");
        padding: 157px 0 335px 0;

        h6,
        h3 {
            color: get-color("primary", "white");
        }

        h6 {
            margin-bottom: 60px;
        }
    }

    .sketch {
        @include span-col(6);
        box-shadow: none;
        position: relative;

        &.-one {
            top: -160px;
            right: -40px;
        }

        &.-two {

        }
    }
}