.m-contact-info {
    background: get-color("primary", "after-hours");
    padding: 100px 0;

    @include breakpoints("tablet") {
        padding: 200px 0;
    }

    &__address {

        @include breakpoints("tablet") {
            @include span-col(4);
        }

        a {
            @include font-size("medium");
            @include line-height(36px);
            font-family: $font-primary;
            font-weight: 100;
            color: get-color("primary", "white");
            text-decoration: underline;
            display: block;
            margin-bottom: 20px;
        }
    }

    &__social {
        vertical-align: middle;

        @include breakpoints("tablet") {
            @include span-col(8);
        }

        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 20px;

            svg {
                fill: get-color("neutral", "light-gray");
                transition: all 400ms ease;
            }

            &:hover {

                svg {
                    fill: get-color("neutral", "gray");
                }
            }
        }
    }

    &__map {
        margin: 140px 0;
        background: get-color("primary", "after-hours");
        width: 100%;
        position: relative;

        iframe {
            width: 100%;
        }
    }

    &__directions {

        @include breakpoints("tablet") {
            @include span-col(8);
        }

        p {
            color: get-color("primary", "white");
        }
    }

    .o-rhythm__container {
        &.-fluid {
            padding: 0;
            width: 100%;

            @include breakpoints("tablet") {
                padding: 0 3%;
                width: 94%;
            }
        }
    }

    h6 {
        margin-bottom: 60px;
    }
}