.m-contact-info {
    background: get-color("primary", "after-hours");
    padding: 96px 0;

    @include breakpoints("tablet") {
        padding: 130px 0;
    }

    &__address {
        margin-bottom: 64px;

        @include breakpoints("tablet") {
            @include span-col(4);
            margin-bottom: auto;
        }

        a {
            @include font-size("medium");
            @include line-height(34px);
            font-family: $font-primary;
            font-weight: 100;
            color: get-color("primary", "white");
            display: inline;
            position: relative;
            text-decoration: none;
        }
    }

    &__social {
        vertical-align: middle;

        @include breakpoints("tablet") {
            @include span-col(8);
        }

        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 20px;

            svg {
                fill: get-color("neutral", "light-gray");
                transition: all 400ms ease;
            }

            &:hover {

                svg {
                    opacity: .6;
                }
            }
        }
    }

    &__map {
        margin: 136px 0;
        background: get-color("primary", "after-hours");
        width: 100%;
        position: relative;

        iframe {
            width: 100%;
        }
    }

    &__directions {
        @include span-col(12);
        max-width: 786px;
        width: calc(100% - 80px);

        // @include breakpoints("tablet") {
        //     @include span-col(12);
        // }

        // @include breakpoints("sm-desktop") {
        //     @include span-col(8);
        // }

        p {
            @include line-height(32px);
            color: get-color("primary", "white");
        }
    }

    .o-rhythm__container {
        &.-fluid {
            padding: 0;
            width: 100%;

            @include breakpoints("tablet") {
                padding: 0 3%;
                width: 94%;
            }
        }
    }

    h6 {
        margin-bottom: 32px;

        @include breakpoints("tablet") {
            margin-bottom: 60px;
        }
    }
}