.m-core-value {
    span {
        @include font-size("small");
        display: block;
        font-weight: 600;
        text-transform: lowercase;
    }

    &__image {
        height: 150px;
        margin-bottom: 34px;
        text-align: center;

        @include breakpoints("sm-tablet") {
            text-align: left;
        }

        &.-space {
            padding-left: 0;

            @include breakpoints("sm-tablet") {
                padding-left: 30px;
            }
        }

        img {
            height: 100%;
        }
    }

    p {
        max-width: 100%;

        @include breakpoints("sm-tablet") {
            max-width: 80%;
        }
    }
}