.o-learn-about-us {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: get-color-primary("fog");
        color: get-color-primary("after-hours-light");
        padding-top: 5rem;
        padding-bottom: 5rem;

        a {
            font-family: $font-secondary;
            font-size: 18px;
            letter-spacing: .2em;
            color: get-color-primary("after-hours");
            border-bottom-width: .2em;
            border-color: get-color-primary("fresh");
            text-decoration: none;
            border-bottom-style: solid;
            width: 160px;
            @include breakpoints("tablet") {
                font-size: 20px; //@include font-size("small");
                font-weight: 500;
                width: 180px;
            }
        }

        h2 {
            color: get-color-neutral("light-gray");
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size:20px;
            font-size:1.25rem;
            line-height:32px;
            line-height:2rem;
            @include breakpoints("tablet") {
                font-size: 28px;
                line-height: 48px;
                margin-top: 0;
                margin-right: 60px;
            }
            @include breakpoints("sm-desktop") {
                font-size: 36px;
                line-height: 48px;
                margin-top: 0;
                margin-right: 60px;
            }

        }

        .o-rhythm__container {
            display:flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            @include breakpoints("tablet") {
                flex-direction: initial;
                flex-wrap: nowrap;
            }

            img {
                max-width: 200px;
                @include breakpoints("phone") {
                    width: 315px;
                    max-width: 315px;
                }
                @include breakpoints("tablet") {
                    width: 315px;
                    max-width: 315px;
                }

                @include breakpoints("sm-desktop") {
                    width: 415px;
                    max-width: 415px;
                }
            }
        }
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image-container {
        display: flex;
        justify-content: center;
    }
}