.o-redesign-future__container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-color: get-color-primary("after-hours");
    color: get-color-primary("white");
}