.o-redesign-future{ 
    &__container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        background-color: get-color-primary("after-hours");

        h2 {
            color: get-color-primary("white");
            @include font-size("medium-large");
            font-size: 36px;
            // @include line-height("medium-large");
            line-height: 48px;
            font-weight: 200;
            :nth-child(1){
                font-weight: 500;
            }
        }
    }
}
