.a-button {
    @include font-size("base");
    color: get-color("primary", "white");
    font-family: $font-secondary;
    border: none;
    border-bottom: 1px solid get-color("primary", "fresh");
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    background: transparent;

    &.-large {
        @include font-size(20px);
        font-family: $font-primary;
        position: relative;
        width: 100%;
        text-transform: none;
        display: block;
        border-bottom: 1px solid get-color("primary", "white");
        padding: 34px 0;
        font-weight: 300;

        &:after {
            content: '';
            background: url('../../../static/img/contact/right_green_arrow.png') no-repeat center center / contain;
            position: absolute;
            right: 0;
            top: 32px;
            display: block;
            width: 24px;
            height: 30px;
        }

        span {
            padding-left: 0;

            @include breakpoints("tablet") {
                padding-left: 80px;
            }
        }
    }

    &.-light {
        color: get-color("primary", "after-hours");
    }

    &.-disabled {
        color: get-color("neutral", "light-gray");
        pointer-events: none;
    }
}
