.full-width-background {
    width: 100%;

    &.-career-link {
        background-color: #043544;

        .m-case-study-page-content__copy-section {
            color: get-color-primary("white");

            h6 {
                color: get-color-primary("white");
            }
        }
    }
}