.full-width-background {
    width: 100%;

    &.-career-link {
        background-color: get-color-casestudies("careerlink");

        .m-case-study-page-content__copy-section {
            color: get-color-primary("white");

            .content__header {
                color: get-color-primary("white");
            }
        }
    }
}