.a-label {
    color: get-color("neutral", "light-gray");
    font-family: $font-secondary;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 0;
    z-index: 0;
    transition: top 150ms ease-in;

    &.-static {
        position: relative;
    }

    &.-dropdown {
        top: -20px;
    }

    &.-field-active {
        top: -26px;
    }

    &__error {
        color: #FB5C54;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -26px;
    }
}