body {
    margin: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.-push-one {
@include span-col(12);

    @include breakpoints("tablet") {
        @include span-col(8);
        @include push-col(1);
    }
}

.-push-three {

    @include breakpoints("tablet") {
        @include push-col(3);
    }
  }

.-mobile-only {
    display: block;

    @include breakpoints("tablet") {
        display: none !important;
    }
}

.-desktop-only {
    display: none;

    @include breakpoints("tablet") {
        display: block;
    }
}

.p-home {

    @include breakpoints("tablet") {
        // border: 10px solid red;

        .o-hero__top,
        .o-hero__subtitles {
            padding-left: 80px;

            p {
                margin-right: 60px;
            }
        }

        .o-hero__subtitles {
            padding-right: 60px;
        }

        .o-contact-form__wrapper {
            margin-left: 72px;
        }
    }

    @include breakpoints("lg-desktop") {

        .o-contact-form__wrapper {
            margin-left: 0;
        }

        .o-hero__top,
        .o-hero__subtitles {
            padding-left: 0;
        }
    }

    // @include breakpoints("sm-desktop") {
    //     border: 1px solid green;
    // }
}

.p-interior-page {

    .o-hero__top {
        padding-top: 100px;
    }

    .o-hero__subtitles {
        max-width: 760px;
    }

    @include breakpoints("tablet") {

        .o-hero__top,
        .o-hero__subtitles,
        .m-contact-info__directions,
        .m-careers {
            margin-left: 80px;

            p {
                margin-right: 60px;
            }
        }

        .o-slider,
        .o-contact-form__wrapper {
            margin-left: 72px;
        }

        .o-hero__subtitles {
            margin-right: 60px;
        }
    }

    @include breakpoints("lg-desktop") {

        .o-hero__top,
        .o-hero__subtitles,
        .o-contact-form__wrapper,
        .o-slider,
        .m-contact-info__directions,
        .m-careers {
            margin-left: 0;
        }
    }
}
