/*------------------------------------*\
  SETTINGS - GRID
\*------------------------------------*/

/*------------------------------------*\
  andculture.scss.rhythm overrides
\*------------------------------------*/

@import "andculturecode.scss.rhythm";

$no-gutter-grid: (
    columns: 12,
    gutter: 0px,
);

$breakpoints: (
    "phone": 480px,
    "sm-tablet": 600px,
    "tablet": 768px,
    "laptop": 940px,
    "lg-laptop": 980px,
    "sm-desktop": 1080px,
    "desktop": 1180px,
);
